.index_header {
  width: auto; height: 100px;
  background-color: #848CB5;
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
  padding-top: 30px;
}
.index_header > a{
  text-decoration: none;
  color: #fff;
}
.index_nav{
  width: auto;
  background-color: #6B6B84;
  text-align: center;
}
.melon:hover{
  color: #fff;
  text-shadow: 0px 0px 10px #58FA82;
  border-bottom: 2px solid #fff;
}
.genie:hover{
  color: #fff;
  text-shadow: 0px 0px 10px deepskyblue;
  border-bottom: 2px solid #fff;
}
.bugs:hover{
  color: #fff;
  text-shadow: 0px 0px 10px #F78181;
  border-bottom: 2px solid #fff;
}
.index_nav > ul{
  width: 810px;
  display: flex;
  list-style: none;
  margin: auto;
  padding-left: 0;
}
.index_nav > ul > li {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 40px;
}
.index_nav > ul > li > a{
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}
.index_section{
  width: auto; height: 842px;
  background-color: #C6D6F7;
}
.index_section_cantainer{
  width: 720px;
  position: absolute;
  left: 50%;
  margin-left: -360px;
}
.index_section_1{
  padding-top: 10px;
  border-bottom: 2px solid #393c3d;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.index_section_1 > h4{
  color: #393c3d;
}
.index_article_1{
  border-bottom: 1px solid #393c3d;
  padding: 20px 0px 20px 30px;
}
.index_article_1:last-child{
  border-bottom: 2px solid #393c3d;
}
.index_article_1 > a{
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
.index_button{
  text-align: center;
  margin: 30px 0px;
}
.index_button > button:hover{
  background-color: #E0E6F8;
}
.index_button > button{
  width: 250px; height: 60px;
  font-family: Arial Black;
  border-radius: 20px;
  background-color: #C6D6F7;
  font-size: 15px;
  font-weight: 700;
}
.index_footer{
  width: auto; height: auto;
  background-color: #848CB5;
  text-align: center;
}
.index_footer > p{
  display: inline-block;
  margin-top: 20px;
  padding:20px 0px;
  font-size: 15px;
}
.index_footer > p:nth-child(2){
  margin-left: 200px;
}
#top{
  position: fixed;
  bottom: 2em;
  right: 20em;
  background-color: #F2F2F2;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 2em;
  font-size: 0.75em;
  border-radius: 10px;
  opacity: 0;
}
#top:hover{
  background-color: #F2F2F2;
  padding: 2em 3em;
}
#top.visible{
  opacity: 1;
}