.header {
  width: auto; height: 100px;
  background-color: #848CB5;
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
  padding-top: 30px;
}
.header > a{
  text-decoration: none;
  color: #fff;
}
.nav{
  width: auto;
  background-color: #6B6B84;
  text-align: center;
}
.melon:hover{
  color: #fff;
  text-shadow: 0px 0px 10px #58FA82;
  border-bottom: 2px solid #fff;
}
.genie:hover{
  color: #fff;
  text-shadow: 0px 0px 10px deepskyblue;
  border-bottom: 2px solid #fff;
}
.bugs:hover{
  color: #fff;
  text-shadow: 0px 0px 10px #F78181;
  border-bottom: 2px solid #fff;
}
.nav > ul{
  width: 810px;
  display: flex;
  list-style: none;
  margin: auto;
  padding-left: 0;
}
.nav > ul > li {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 40px;
}
.nav > ul > li > a{
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}
.section{
  width: auto; height: 1033.889px;
  background-color: #C6D6F7;
  text-align: center;
}
.artcle{
  width: 720px;
  position: absolute;
  left: 50%;
  margin-left: -360px;
}
.artcle_video{
  padding: 50px 0px;
}
.artcle_text{
  width: 720px; height: auto;
}
.artcle_text1{
  display: block;
  width: 360px;
  float: left;
}
.artcle_text2{
  display: block;
  width: 360px;
  float: right;
}
.footer{
  width: auto; height: auto;
  background-color: #848CB5;
  text-align: center;
}
.footer > p:nth-child(2){
  margin-left: 200px;
}
.footer > p{
  display: inline-block;
  margin-top: 20px;
  padding:20px 0px;
  font-size: 15px;
}
#top{
  position: fixed;
  bottom: 2em;
  right: 20em;
  background-color: #F2F2F2;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 2em;
  font-size: 0.75em;
  border-radius: 10px;
  opacity: 0;
}
#top:hover{
  background-color: #F2F2F2;
  padding: 2em 3em;
}
#top.visible{
  opacity: 1;
}